<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.allquiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllQuiz">
        <activity
            android:name=".Activities.Splash"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AttendQuiz"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SeeLevel"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddQuestion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserSeeLevel"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserSeeLanguage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddLevel"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SeeLanguage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddLanguage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AdminActs"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>